@import "./color-variables";
@import "./balls";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flexCenter(space-around);

  width: 100%;
  height: 100vh;

  background-color: $baseColor;
}
